body{
    background-color:azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.blocos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 2em;

}

.inpt{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 2px;;
    background-color: darkgray;
    color:black ;
    border: none;
}

.tabela{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 2em;

}

table{
    border-collapse: collapse;
    min-width: 700px;
    max-width: 700px;

}


th,td{
    gap: 1vh;
    border: 1px solid;
    border-color: black;
}

.btt{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 2px;;
    background-color: darkgrey;
    color:black ;
    border: none;
}

