*{
margin: 0;
padding: 0;
}

body{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100vw;
    gap: 50px;
    background-color: beige;
}

.condicional,.condicionalNegada{
    display: none;
}

