*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: #12372A;
    padding-top: 15px;
    width: 100%;
    height: 30px;
    position: fixed; 
    top: 0;
    box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    z-index: 999; 
}

body{   

    overflow-x: hidden;

}


ul{
    list-style:none ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
}


a{
    color: #00FFC6;
    opacity: 0.8;
    text-decoration:none;
    transition: all 200ms linear;
}
a:hover{
    opacity: 1;
    transition: all 200ms linear;
    text-decoration: solid;
    transform: scale(1.1);
    cursor: pointer;
 }

.profile01{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;   
    background-color: #436850;
}

.profile02{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;   
    background-color: #ADBC9F;   
}

.Foto{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 100%;
    max-height: 159px;
    transition: all 0.5s;
}
.Foto:hover{

    transform: scale(1.1) ;
    
    }
    
    .profile_info{
        display: flex;
        position: relative;
        height: auto;
        max-width: 40em;
    }
    
    .descricao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 50px;
        margin: 25px;
        gap: 10px;
        line-height: 1.5em;
        border-radius:10px;
        min-width: 15%; 
        max-width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
    }


    .tec{
        background-color:  #436850;
        height: auto;
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }


.img_tec{
    max-height: 150px;
    max-width: auto;
    padding-top:30px;
    padding-bottom: 30px;

}

.img{
    max-width: 100%;
    max-height: 125px;
    transition: all 0.5s;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img:hover{
    transform: scale(1.1);
    
}

.tec_descricao{
    padding: 1.5em;
    height: 100px;
    align-items: center;
    text-align: center;
}

.html_desc{
    width: 300px;
    text-align: center;
    align-items: center;
    padding: 1em;
}

.js_desc{
    width: 300px;
    text-align: center;
    align-items: center;
    padding: 1em;
}

.css_desc{
    width: 300px;
    text-align: center;
    align-items: center;
    padding: 1em;
    /* background-color: #00FFC6; */
}

.contact{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    padding: 5%;
    gap: 10%;
    line-height: 150%;
    background-color: #ADBC9F;
}

