body{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}


h1,h2,p{
    color:#fdfaf0;
    font-size: 2.5rem;
}